<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.sosiouxme.WhenDidI"
      android:versionName="1.0" android:versionCode="1">
    <application android:icon="@drawable/icon"
     android:label="@string/app_name" 
     android:debuggable="true" android:name="WhenDidI" android:theme="@style/AppTheme">
        <activity android:name=".activity.Main"
                  android:label="WhenDidI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".activity.GroupsEdit"
 android:label="WhenDidI - Edit Groups"
/>
<activity
 android:name=".activity.TrackerEdit"
 android:label="WhenDidI - Edit Tracker"
/>
<activity
 android:name=".activity.TrackerDetail"
 android:label="WhenDidI - View Tracker Details"
/>
<activity android:name=".activity.LogEdit"
 android:label="WhenDidI - Edit Log"
/>
<activity android:name=".activity.Prefs"
 android:label="WhenDidI - Preferences"
/>
<receiver android:name=".receiver.AlarmReceiver"
 android:process=":remote" 
/>
</application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 