<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.sosiouxme.WhenDidI"
      android:versionName="1.0" android:versionCode="1">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".ItemList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name="ItemEdit"></activity>
<activity android:name="Prefs"></activity>
<activity android:name="ListEdit"></activity>
</application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 