<?xml version="1.0" encoding="utf-8"?>
<!--
    This file is part of LogMyLife, an application for logging events.
    Copyright (C) 2011 Luke Meyer

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program (see LICENSE file).
    If not, see http://www.gnu.org/licenses/
 -->
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.sosiouxme.logmylife"
  android:versionName="0.1"
  android:versionCode="1"
>
  <application
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name="LogMyLife"
    android:theme="@style/AppTheme"
  >
    <activity
      android:name=".activity.Launcher"
      android:label="@string/app_name"
    >
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.Main"
      android:label="LogMyLife - Main" />
    <activity
      android:name=".activity.Data"
      android:label="LogMyLife - Import/Export Data" />
    <activity
      android:name=".activity.GroupsEdit"
      android:label="LogMyLife - Edit Groups" />
    <activity
      android:name=".activity.TrackerEdit"
      android:label="LogMyLife - Edit Tracker" />
    <activity
      android:name=".activity.TrackerDetail"
      android:label="LogMyLife - View Tracker Details" />
    <activity
      android:name=".activity.LogEdit"
      android:label="LogMyLife - Edit Log" />
    <activity
      android:name=".activity.Settings"
      android:label="LogMyLife - Settings" />
    <receiver
      android:name=".receiver.AlertReceiver"
      android:process=":remote" />
    <receiver
      android:name=".receiver.BootReceiver"
      android:process=":remote"
    >
      <intent-filter>
        <action
          android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".receiver.ReplacedReceiver"
      android:process=":remote"
    >
      <intent-filter>
        <action
          android:name="android.intent.action.PACKAGE_REPLACED"
           />
      </intent-filter>
    </receiver>
  </application>
  <uses-sdk   android:minSdkVersion="3" />


<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
</manifest> 